body{
    background: dodgerblue;
}

body>div{
    background: gray;
    border-top: 25px solid crimson;
    border-right: 25px solid white;
    border-left: 25px solid white;
    border-bottom: 25px solid white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 100%;
    width: 450px;
    height: 450px;
    cursor: pointer;
}

body>div>h2{
    font-family: poppins, sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    font-size: 48px;
    color: white;
}

div:hover{
    transform: rotate(360deg);
    transition-property: all;
    transition-duration: 2s;

    /* Shorthand Property */
    /*transition: all 2s;*/
}
