@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Apply Poppins font family to all the html elements */
::-webkit-scrollbar {
    width: 8px;
    /*background: #A8A8A8;*/
    background: #2f2b2b;
}

::-webkit-scrollbar-thumb {
    background: #7461E2;
}

* {
    font-family: 'Poppins', sans-serif;
}

#projects_page {
    background: #fafaff;
    width: 100%;
    position: relative;
    height: 772px;
}

#assignments_page {
    background: #fafaff;
    width: 100%;
    position: relative;
}

#firstSection {
    position: relative;
    height: 135px;
}

#secondSection {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    column-gap: 36px;
    width: 100%;
}

#firstSection > h1 {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: max-content;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 8px;
    padding-bottom: 17px;
    text-transform: uppercase;
    margin-top: 35px;
}

#firstSection > h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 174px;
    height: 1px;
    background: #ddd;
    bottom: 0;
    left: calc(34% - 60px);
}

#assignments_page > #firstSection > h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 236px;
    height: 1px;
    background: #ddd;
    bottom: 0;
    left: calc(27% - 60px);
}

#firstSection > h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 62px;
    height: 4px;
    background: #7461E2;
    bottom: -2px;
    left: calc(43% - 20px);
    border-radius: 16px;
}

#assignments_page > #firstSection > h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 65px;
    height: 4px;
    background: #7461E2;
    bottom: -2px;
    left: calc(44% - 20px);
    border-radius: 16px;
}

#secondSection button {
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    display: flex;
    position: relative;
    padding: 7px 25px;
    background-color: transparent;
    font-size: 16px;
    color: #007bff;
    border-radius: 50px;
    border: 2px solid #007bff;
    transition: all 0.3s ease;
}

#secondSection button:hover {
    color: #fff;
    background: #007bff;
    transition: all 0.3s ease;
}

#thirdSection {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 50px 69px 0 69px;
    padding-bottom: 65px;
    transition: all 2s;
    gap: 55px;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: all 2s;
}

#assignments-container {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: all 2s;
}

.project-divs {
    position: relative;
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    width: 380px;
    background: #efeffc;
    /*box-shadow: -23px -23px 45px #ffffff, 28px 28px 50px rgba(13, 39, 80, 0.16);*/
    border-radius: 25px;
    transition: all 0.8s ease;
}

.assignment-divs {
    position: relative;
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    width: 380px;
    background: #efeffc;
    /*box-shadow: -23px -23px 45px #ffffff, 28px 28px 50px rgba(13, 39, 80, 0.16);*/
    border-radius: 25px;
    transition: all 0.8s ease;
}

#projects-container > div > img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.project-divs:hover {
    transition: all 0.8s ease;
    transform: scale(0.97);
    /*box-shadow: 1px 1px 54px 1px rgba(0, 0, 0, 0.22);*/
    cursor: pointer;
}

.projects_p {
    text-align: center;
    font-weight: 400;
}

#assignments-container > div > img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.assignment-divs:hover {
    transition: all 0.8s ease;
    transform: scale(0.97);
    /*box-shadow: 1px 1px 54px 1px rgba(0, 0, 0, 0.22);*/
    cursor: pointer;
}

.assignments_p {
    text-align: center;
    font-weight: 400;
}

#projects-container > div > div > button {
    color: black;
    margin-top: 13px;
    text-align: center;
    font-weight: 500;
    border-radius: 0.5rem;
    background-color: gold;
    height: 43px;
    transition: all .6s;
    cursor: pointer;
    width: 120px;
    border: 3px solid gold;
    font-size: 15px;
}

#projects-container > div > div > button:hover {
    background-color: gold;
}

#projects-container > div > div > button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;
    animation: clippath .8s 1 linear;
}

@keyframes clippath {
    0%, 100% {
        clip-path: inset(0 0 95% 0);
    }

    25% {
        clip-path: inset(0 95% 0 0);
        border: 3px solid #6b57d7;
    }
    50% {
        clip-path: inset(95% 0 0 0);
        border: 3px solid #6b57d7;
    }
    75% {
        clip-path: inset(0 0 0 95%);
        border: 3px solid #6b57d7;
    }
}

.projects_btn > a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 0.5rem;
}

.project-divs::before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
    border-radius: 25px;
}

#assignments-container > div > div > button {
    color: black;
    margin-top: 13px;
    text-align: center;
    font-weight: 500;
    border-radius: 0.5rem;
    background-color: gold;
    height: 43px;
    transition: all .6s;
    cursor: pointer;
    width: 149px;
    border: 3px solid gold;
    font-size: 15px;
}

#assignments-container > div > div > button:hover {
    background-color: gold;
}

#assignments-container > div > div > button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;
    animation: clippath .8s 1 linear;
}

@keyframes clippath {
    0%, 100% {
        clip-path: inset(0 0 95% 0);
    }

    25% {
        clip-path: inset(0 95% 0 0);
        border: 3px solid #6b57d7;
    }
    50% {
        clip-path: inset(95% 0 0 0);
        border: 3px solid #6b57d7;
    }
    75% {
        clip-path: inset(0 0 0 95%);
        border: 3px solid #6b57d7;
    }
}

.assignments_btn > a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 0.5rem;
}

.assignment-divs::before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
    border-radius: 25px;
}

.hover-divs {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.project-divs:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: all ease-in-out 0.3s;
}

.assignment-divs:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: all ease-in-out 0.3s;
}

.hover-divs::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #dee4e8;
    border-left: 3px solid #dee4e8;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.hover-divs::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #dee4e8;
    border-right: 3px solid #dee4e8;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

/*=============*/

.project-divs:hover .hover-divs::before {
    top: 15px;
    left: 15px;
}

.project-divs:hover .hover-divs::after {
    bottom: 15px;
    right: 15px;
}

.project-divs:hover > .hover-divs {
    opacity: 1;
}

.assignment-divs:hover .hover-divs::before {
    top: 15px;
    left: 15px;
}

.assignment-divs:hover .hover-divs::after {
    bottom: 15px;
    right: 15px;
}

.assignment-divs:hover > .hover-divs {
    opacity: 1;
}

.hover-divs > h4 {
    font-size: 21px;
    color: #45505b;
    margin-bottom: 0;
    margin-top: 6px;
}

.hover-divs > p {
    margin-bottom: 33px;
    margin-left: 20px;
    margin-right: 20px;
}

#btnAll {
    color: #fff !important;
    background: #007bff !important;
    transition: all 0.3s ease !important;
}

.project-divs > img {
    height: 215px !important;
}

.project-divs {
    box-shadow: -23px -23px 45px #ffffff, 28px 28px 50px rgba(13, 39, 80, 0.16) !important;
}

.project-divs:hover {
    box-shadow: 1px 1px 54px 1px rgba(0, 0, 0, 0.22) !important;
}

.assignment-divs > img {
    /*height: 215px !important;*/
}

.assignment-divs {
    box-shadow: -23px -23px 45px #ffffff, 28px 28px 50px rgba(13, 39, 80, 0.16) !important;
}

.assignment-divs:hover {
    box-shadow: 1px 1px 54px 1px rgba(0, 0, 0, 0.22) !important;
}