body > section {
    width: 1200px;
    height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

body > section > div {
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);
}

body > section > div:first-child {
    background: url("../img/15.png");
    background-size: cover;
    background-position: center;
    grid-row: 1/2;
    grid-column: 1/3;
}

body > section > div:nth-child(2) {
    background: url("../img/16.png");
    background-size: cover;
    /*background-position: center;*/
}

body > section > div:nth-child(3) {
    background: url("../img/Seth.jpg");
    background-size: cover;
    background-position: center;
    grid-row: 1/4;
    grid-column: 4/5;
}

body > section > div:nth-child(4) {
    background: url("../img/Room.jpg");
    background-size: cover;
    background-position: center;
}

body > section > div:nth-child(5) {
    background: url("../img/Roman.png");
    background-size: cover;
    background-position: center;
}

body > section > div:nth-child(6) {
    background: url("../img/img1.jpg");
    background-size: cover;
    background-position: center;
}

body > section > div:nth-child(7) {
    background: url("../img/img3.jpg");
    background-size: cover;
    background-position: center;
}

body > section > div:nth-child(8) {
    background: url("../img/Restaurant.jpg");
    background-size: cover;
    background-position: center;
    grid-row: 3/4;
    grid-column: 2/4;
}