#mainSection {
    width: 100vw;
    height: 100vh;
    background: url("../img/background2.jpg");
    background-position: center;
    background-size: cover;
}

#calculator-section {
    width: 600px;
    border: 2px solid black;
    opacity: 82%;
    /*background: rgb(132, 124, 124);*/
    background: #000000;
}

#firstSection {
    height: 98px;
}

#secondSection {
    background: green;
    height: 452px;
}

#clear-btn {
    width: 52px;
    height: 52px;
    opacity: 100% !important;
    background: #A8A8A8;
    color: black !important;
    transition: all 1s;
}

#clear-btn:hover {
    background: #ece7e7;
    transition: all .5s;
}

#clear-btn:active {
    transform: translateY(-8px);
    transition: all .2s;
}

#input-field {
    width: 465px;
    height: 52px;
    color: white;
    background: none;
    font-size: 22px;
    text-align: right;
    border: 3px solid black;
    background: rgb(45, 40, 40);
    opacity: 93%;
}

#secondSection div {
    display: inline-block;
}