#mainSection {
    width: 100vw;
    height: 100vh;
    background: url("../img/background2.jpg");
    background-position: center;
    background-size: cover;
}

#calculator-section {
    /*width: 35%;
    height: 75%;*/
    width: 600px;
    border: 2px solid red;
    opacity: 65%;
}

#firstSection {
    /*background: dodgerblue;*/
    height: 98px;
}

#secondSection {
    background: green;
    height: 452px;
}

#clear-btn{
    width: 52px;
    height: 52px;
    opacity: 100%!important;
}

#input-field{
    width: 465px;
    height: 52px;
    color: white;
    background: none;
    font-size: 22px;
    text-align: right;
}