/**
 * @author : Ashan Sandeep
 * @since : 0.1.0
 **/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Apply Poppins font family to all the html elements */
* {
    font-family: 'Poppins', sans-serif;
}

/*====================== CSS Variables ======================*/
:root {
    --font-regular: 400;
    --font-semi-bold: 600;
}

/* --------------------------------------------------------------------------- */

/*====================== Customized Scroll bar ======================*/
::-webkit-scrollbar {
    width: 8px;
    background: #A8A8A8;
}

::-webkit-scrollbar-thumb {
    background: #7461E2;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body > main {
    margin-top: 73px;
}

/* --------------------------------------------------------------------------- */

/*====================== Header Section ======================*/
body > header {
    position: fixed;
    background: #FBFBFE;
    width: 100%;
    height: 73px;
    top: 0;
    z-index: 1;
    box-shadow: 0 -1px 8px 2px #1c1717e8;
}

body > header > div {
    position: relative;
    left: 90px;
    top: auto;
    margin-top: 23px;
    margin-bottom: 23px;
    display: inline-block;
}

body > header > div > h2 {
    /*font-weight: var(--font-regular);*/
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}

body > header > div > h2:hover {
    color: #7461E2;
}

/*body>header>nav>menu>li:first-child a{
    !*font-weight: var(--font-semi-bold);*!
    color: #7461E2;
}*/

body > header > nav {
    position: absolute;
    right: 68px;
    top: 0;
}

body > header > nav > menu > li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

body > header > nav > menu > li a {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
}

body > header > nav > menu > li a:hover {
    color: #7461E2;
}

body > header > nav > menu > li>a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: #7461E2;
    border-radius: 26%;
    transition: width .3s;
}


body > header > nav > menu > li>a:hover::after {
    width: 40%;
    transition: width .3s;
}

/* --------------------------------------------------------------------------- */

/*====================== Home Section ======================*/
/*body > main > section#home_section {
    !*border: 1px solid red;*!
    height: 723px;
    position: relative;
    border: 1px solid red;
}*/

/*body > main > section#home_section > section:first-child {
    !*border: 1px solid orange;*!
    position: absolute;
    top: 0;
    bottom: 0;
    width: 800px;
    border: 1px solid black;
}*/

/*body > main > section#home_section > section:first-child > aside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 200px;
    !*height: 325px;*!
}*/
/*
body > main > section#home_section > section:last-child {
    position: relative;
    !* display: inline-block; *!
    !* left: 800px; *!
    height: 100%;
    !* margin: 800px; *!
    margin-left: 800px;
    !* width: 46%; *!
    !* width: max-content; *!
    !* width: calc(114% / 3); *!
}*/

/*body > main > section#home_section > section:first-child > section#home_description {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}*/

body > main #home_social_links {
    display: flex;
    /* gap: 28px; */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    position: relative;
    top: 94px;
}

body > main #home_social_links > div {
    background: linear-gradient(5deg, black, dimgray);
    /*background: rgba(255, 255, 255, 0.1);*/
    border-radius: 100%;
    height: 72px;
    width: 72px;
    position: relative;
}

body > main #home_social_links > div > a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
}

body > main #home_social_links > div > a > i {
    position: relative;
    font-size: 2.4em;
    color: white;
}

body>main #home_social_links>div:hover{
    color: #7461E2;
}

body > main #home_social_links > div:first-child > a > i {
    top: 24%;
    left: 33%;
}

body > main #home_social_links > div:nth-child(2) > a > i {
    top: 26%;
    left: 25%;
}

body > main #home_social_links > div:nth-child(3) > a > i {
    top: 23%;
    left: 25%;
}

body > main #home_social_links > div:nth-child(4) > a > i {
    top: 24%;
    left: 27%;
}

/*body > main #home_social_links > div > a > i:hover{
    color: #7461E2;
}*/

body > main #home_social_links > div:hover{
    background: #7461E2;
}

main>#home_section>section:last-child>div{
    background-color: red;
    background: url(../images/My_Image.png);
    background-size: cover;
    background-position: center;
    width: 310px;
    height: 412px;
    display: inline-block;
    border-radius: 100%;
    position: relative;
    top: 88px;
    left: 52px;
}

/* 2022-08-30 Changed Codes below ------------------------- */
body > main > section#home_section {
    /* border: 1px solid red; */
    height: 723px;
    width: 100%;
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

body > main > section#home_section > section:first-child {
    /* border: 1px solid orange; */
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    width: 60%;
    border: 1px solid black;
    display: flex;
    /* height: 500px; */
}

body > main > section#home_section > section:last-child {
    /* position: absolute; */
    /* height: 100%; */
    /* right: 0; */
    /* margin-left: 800px; */
    width: 40%;
}

body > main > section#home_section > section:first-child > aside {
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* margin: auto; */
    width: 22%;
    /* height: 325px; */
}

body > main > section#home_section > section:first-child > section#home_description {
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* right: 0; */
    width: 78%;
}








