/*::-webkit-scrollbar{
    width: 0;
}*/

body{
    overflow-y: hidden;
}

#sky_div {
    width: 100%;
    height: 99.5vh;
}

#sky_div > img {
    width: 100%;
    height: 100%;
}

#city_div {
    position: absolute;
    top: 11.125em;
    width: 100%;
    height: max-content;
}

#city_div > img {
    width: 100%;
}

#road_div {
    position: absolute;
    bottom: 0em;
    width: 100%;
    height: max-content;
}

#road_div > img {
    height: 133px;
    width: 100%;
}