/*::-webkit-scrollbar{
    width: 0;
}*/

/*body{
    overflow-y: hidden;
}*/

#sky_div {
    width: 100%;
    height: 99.5vh;
}

#sky_div > img {
    width: 100%;
    height: 100%;
}

#city_div {
    position: absolute;
    top: 188px;
    width: 100%;
    height: max-content;
}

#city_div > img {
    width: 100%;
}

#road_div {
    position: absolute;
    bottom: 0em;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

#road_div > img {
    height: 133px;
    width: 100%;
}

#car_div {
    position: absolute;
    top: 416px;
    left: 58px;
    width: fit-content;
    height: max-content;
}

#car_div > img {
    width: 375px;
    height: max-content;
}

#wheel_div {
    position: absolute;
    top: 497px;
    left: 90px;
    width: 375px;
    height: max-content;
    display: flex;
    column-gap: 159px;
}

#wheel_div > img {
    width: 70px;
    height: 70px;
}